.slider {
&__button {
    width: 55px;
    height: 55px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid var(--color-brand-pimary-dark);
    fill: var(--color-brand-pimary-dark);
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;

    @media screen and (min-width: $bp-tablet) {
        display: flex;
        align-items: center;
    }
}

&__button:hover {
    background-color: var(--color-brand-pimary-dark);
    fill: var(--color-brand-primary-light);
 }

&__button.next {
    transform: rotate(180deg);
 }
}
